<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form method = 'post' action = '/register'>
      User name: <br>
      <input type = 'username' name = 'username'> <br>
      Email: <br>
      <input type = 'email' name = 'email'> <br>
      Password: <br>
      <input type = 'password' name = 'password'> <br>
      <input type = 'submit' value = 'Register'> <br>
    </form>
  </body>
</html>